<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>version</key>
		<string>1.3.0</string>
		<key>name</key>
		<string>HTTP Status</string>
		<key>description</key>
		<string>HTTP Status Codes</string>
		<key>readme</key>
		<string>An Alfred workflow to quickly lookup HTTP status codes.</string>
		<key>category</key>
		<string>Internet</string>
		<key>createdby</key>
		<string>Marc Görtz</string>
		<key>webaddress</key>
		<string>https://marcgoertz.de/</string>
		<key>bundleid</key>
		<string>de.marcgoertz.http</string>
		<key>disabled</key>
		<false/>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>fixedorder</key>
					<true/>
					<key>items</key>
					<string>%status-codes%</string>
					<key>keyword</key>
					<string>http</string>
					<key>runningsubtext</key>
					<string></string>
					<key>subtext</key>
					<string>Enter a status code or value to view details.</string>
					<key>title</key>
					<string>HTTP Status</string>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.listfilter</string>
				<key>uid</key>
				<string>57D47D53-06C7-45E4-99ED-BE53CD7C3E70</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>browser</key>
					<string></string>
					<key>spaces</key>
					<string></string>
					<key>url</key>
					<string>https://httpstatuses.com/{query}</string>
					<key>utf8</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.openurl</string>
				<key>uid</key>
				<string>3D0116D7-BB69-4139-B322-2839D0812D7E</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>connections</key>
		<dict>
			<key>3D0116D7-BB69-4139-B322-2839D0812D7E</key>
			<array/>
			<key>57D47D53-06C7-45E4-99ED-BE53CD7C3E70</key>
			<array>
				<dict>
				<key>destinationuid</key>
				<string>3D0116D7-BB69-4139-B322-2839D0812D7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
				</dict>
			</array>
		</dict>
	</dict>
</plist>
